<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="{{ path('indexEleve') }}">Accueil</a></li>
            <li><a href="{{ path('listeEntrepriseEleve') }}">liste Entreprises</a></li>


        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>